@model ECommerceProject.Models.Category
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; ViewData["Title"] = "Thêm danh mục";
}

<div class="card shadow-sm" style="max-width: 500px;">
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label class="form-label fw-bold">Tên danh mục</label>
                <input asp-for="CategoryName" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-primary">Lưu lại</button>
            <a asp-action="Index" class="btn btn-secondary">Hủy</a>
        </form>
    </div>
</div>