USE [EcommerceDB]
GO
/****** Object:  Table [dbo].[Cart_Detail]    Script Date: 11/20/2025 10:44:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart_Detail](
	[CartDetailID] [int] IDENTITY(1,1) NOT NULL,
	[CartID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtTime] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 11/20/2025 10:44:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[OrderStatus] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/20/2025 10:44:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/20/2025 10:44:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/20/2025 10:44:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ImageUrl] [varchar](255) NULL,
	[CategoryID] [int] NOT NULL,
	[StockQuantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cart_Detail] ON 

INSERT [dbo].[Cart_Detail] ([CartDetailID], [CartID], [ProductID], [Quantity], [PriceAtTime]) VALUES (0, 1, 6, 1, CAST(20000.00 AS Decimal(10, 2)))
INSERT [dbo].[Cart_Detail] ([CartDetailID], [CartID], [ProductID], [Quantity], [PriceAtTime]) VALUES (1, 2, 5, 1, CAST(1000000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Cart_Detail] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([CartID], [CustomerID], [DateCreated], [OrderStatus]) VALUES (1, 2, CAST(N'2025-11-20T10:21:34.330' AS DateTime), 2)
INSERT [dbo].[Carts] ([CartID], [CustomerID], [DateCreated], [OrderStatus]) VALUES (2, 2, CAST(N'2025-11-20T10:22:12.337' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Linh kiện điện tử cơ bản')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Vi điều khiển – IC')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Module & Board mạch')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [PasswordHash], [Address], [Role], [Phone]) VALUES (1, N'vip', N'admin', N'admin@mail.com', N'hashedpassword123', N'123 Đường Hai Bà Trưng, TP.HCM', N'Admin', N'0312345675')
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [PasswordHash], [Address], [Role], [Phone]) VALUES (2, N'Thanh', N'Toàn Lê', N'user1@gmail.com', N'hashedpassword456', N'456 Phố Hàng Bài, Hà Nội', N'User', N'0123456789')
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [PasswordHash], [Address], [Role], [Phone]) VALUES (3, N'Lê', N'Hoàng C', N'user2@gmail.com', N'hashedpassword789', N'789 Đường 3/2, Cần Thơ', N'User', N'0312345678')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [Price], [ImageUrl], [CategoryID], [StockQuantity]) VALUES (1, N'Điện trở 1/4W', N'Ổn định dòng điện, dùng trong mọi mạch cơ bản.', CAST(100000.00 AS Decimal(10, 2)), N'429a85be-1954-4954-b9d9-c8c0ba4ad0c1.webp', 1, 0)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [Price], [ImageUrl], [CategoryID], [StockQuantity]) VALUES (2, N'Diode 1N4007', N'Chống ngược dòng và chỉnh lưu AC sang DC.', CAST(50000.00 AS Decimal(10, 2)), N'f30fdbd2-5cf5-4cff-93cd-9f4ab8cd4f80.webp', 1, 0)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [Price], [ImageUrl], [CategoryID], [StockQuantity]) VALUES (3, N'Arduino Uno R3', N'Board lập trình phổ biến cho dự án DIY.', CAST(100000.00 AS Decimal(10, 2)), N'2934be35-fd80-4268-9cec-7fa407fd7047.webp', 2, 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
/****** Object:  Index [UQ_CartDetail_Item]    Script Date: 11/20/2025 10:44:56 AM ******/
ALTER TABLE [dbo].[Cart_Detail] ADD  CONSTRAINT [UQ_CartDetail_Item] UNIQUE NONCLUSTERED 
(
	[CartID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D105343F32BDE1]    Script Date: 11/20/2025 10:44:56 AM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT ((0)) FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Cart_Detail]  WITH NOCHECK ADD  CONSTRAINT [FK_CartDetail_Cart] FOREIGN KEY([CartID])
REFERENCES [dbo].[Carts] ([CartID])
GO
ALTER TABLE [dbo].[Cart_Detail] CHECK CONSTRAINT [FK_CartDetail_Cart]
GO
ALTER TABLE [dbo].[Cart_Detail]  WITH NOCHECK ADD  CONSTRAINT [FK_CartDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Cart_Detail] CHECK CONSTRAINT [FK_CartDetail_Product]
GO
ALTER TABLE [dbo].[Carts]  WITH NOCHECK ADD  CONSTRAINT [FK_Cart_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Cart_Customer]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Product_Category]
GO
